.card-image-ith {
  margin-top: 20px;
    box-shadow: 3px 3px 12px #e5e5f1;
    border: 1px solid #e5e5f1;
    width: 100%;
}

.cards-up {
    width: 90%;
    height: 180px;
    box-shadow: 3px 3px 12px #e5e5f1;
    border: 1px solid #e5e5f1;
    margin-top: 10px;

    p {
        text-align: center;
        margin: auto;
    }
}

.cards-up-1 {
    width: 100%;
    height: 130px;
    box-shadow: 3px 3px 12px #e5e5f1;
    border: 1px solid #e5e5f1;
    margin-top: 10px;

    .body {
    text-align: justify;
    margin-bottom: 2px;
    }
}