.home-container{
    width: 100%;
    padding-bottom: 20px;
}

.carousel-image {   
    width: 100%;
    img{
        height: 250px;
        width: 100%;
    }
}

.carousel-container{
    max-width: 100%;
    padding: 20px 5px;
    background-color: #e8e7e7;
}

