.cards-wrapper-solution {
    padding: 30px 0;
    background: #ffffff;
    width: 90%;
    margin: 0 auto;
}

.site-card-wrapper {
    padding: 20px;
    margin-top: 20px;
    background:#c4c4c4;

    & p {
        margin: auto;
    }
}

.cards-up-solution {
    width: 90%;
    height: 90px;
    box-shadow: 3px 3px 12px #e5e5f1;
    border: 1px solid #e5e5f1;
    margin: 10px 0;

    p {
        margin-bottom: auto;
        display: flex;
    }
}

.cards-down-solution {
    // box-shadow: #e5e5f1;
    // border: 1px solid #e5e5f1;
}

.ant-card-body {
    margin-bottom: 20px;
}

.icons {
    font-size: 60px;
}


