.logo-text {
    color: black;

    &:hover{
        color: #1890ff;
    }
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    color: white;
    box-shadow: 3px 3px 12px #dcdcf3;
    border-bottom: 1px solid #f0f0f0;
    background: #ffffff;
    align-items: flex-start;
    
    & div.logo-container{
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        padding-left: 10px;
        & img{ 
            max-height: 50px;
            position: relative;
            bottom: 3px;
        }
        & div {
            font-size: 20px;
        }

        &:hover{
            color: #1890ff;
            border-top: solid #1890ff 3px;
        }
    }

    & div.buttons {
        margin-left: 20%;
        display: flex;
        width: 10%;
        justify-content: space-between;
        & a button{
            transition: all 0.1s;
            padding-top: 15px;
            padding-right: 25px;
            text-align: center;
            background-color: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
            color: black;
            outline: none;

            &.active{
                color: #1890ff;
                border-top: solid #1890ff 3px;
            }

            &:hover{
                color: #1890ff;
                border-top: solid #1890ff 3px;
            }
        }
    }
}
